<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <div id="twig-to-js-data" data-twig-to-js="{{ generate_twig_to_js_data() }}"></div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
